spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/core;
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        default_batch_fetch_size: 100
        format_sql: true
  servlet:
    multipart:
      enabled: true
  jwt:
    secret: "d#nbwj2r^sqlyn=%hiq-nbi9wd88*%@l%+^a5&+$w*gq*1prnz"

logging:
  level:
    org.hibernate.SQL: debug
    org.springframework: debug
    org.springframework.web: debug

file:
  dir: "/Users/piaochung/Documents/GitHub/backend/file/"